body {
    background-color: rgb(48, 58, 78);
    color: white;
}
.grid-container-main {
  display: grid;
  justify-content: 20%;
  height: 100%;
  grid-template-columns: auto 160px; /*Make the grid smaller than the container*/
  grid-gap: 10px;
  padding: 10px;

}
.valinta{
	float: right;
}
div{
	margin-bottom:10px;
}
button{
	min-width: 50px;
}
input[type=number], input[type=text]{
  width: 50px;
} 
#rahadiv{
	font-size: 18px;
	text-align: center;
}
#positiondiv{
	text-align:center;
  white-space: nowrap;
}
input[type=checkbox]{
  display: none;
}